* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
}

body {
  background-color: black;
  margin: 0;
  padding: 0;
}

body main {
  font-family: Arial, sans-serif;
}

li a {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  text-decoration: none;
  padding: 0.3rem 1rem;
}

li a:hover {
  color: #a71115 !important;
  text-decoration: underline;
}

/* begin van header */

.header-box {
  background-color: black;
  border-bottom: 1px solid red;
  display: grid;
  grid-template-columns: 350px 350px 350px 350px;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}

a.nav-link {
  color: #bcadae;
  border-radius: 19px;
  padding: 1rem 3rem;
}

.nav-li {
  transition: transform 0.2s;
  list-style: none;
  margin: 0.7rem 0 0.7rem 1.5rem;
}

.nav-li:hover {
  transform: scale(1.1);
}

/* eind van header */

/*begin van main*/

.about-section {
  padding: 20px;
  border-radius: 19px;
  font-size: 20px;
  color: black;
  display: grid;
  grid-template-columns: 90%;
  justify-content: center;
  margin: 2rem 0;
  padding: 1rem;
  gap: 1.5rem;
  text-align: justify;
}

.section-p {
  text-indent: 2rem;
}

.about-sub-section {
  background-color: transparent;
  border: px solid #a71115;
  color: white;
  border-radius: 19px;
  padding: 2rem;
}

.card-div1 {
  color: white;
  padding: 2% 6%;
  text-align: justify;
}

.card-box {
  display: grid;
  grid-template-columns: 45% 45%;
  justify-content: center;
  margin: 2rem 0;
  padding: 1rem;
  gap: 1.5rem;
}

.sec-col {
  background-color: transparent;
  max-width: 800px;
  padding: 0.5rem;
  border: 2px solid #a71115;
  border-radius: 19px;
  font-size: 18px;
}

.active {
  color: #a71115 !important;
  text-decoration: underline;
}

.section-h2 {
  text-align: center;
  font-size: 35px;
}

/* eind van main */

/* begin van footer*/

.footer-box {
  background-color: whitesmoke;
  border-top: 5px solid #a71115;
  border-bottom: 5px solid #a71115;
  display: grid;
  grid-template-columns: 65% 4% 4% 7% 4%;
  justify-content: left;
  gap: 2rem;
  margin-bottom: 0.5rem;
  padding: 1rem 2rem;
}

.footer-img {
  width: 30px;
  height: 30px;
  border-radius: 7px;
  margin-top: 0.5rem;
}

.youtube-img {
  width: 70px;
  height: 30px;
  border-radius: 7px;
  margin-top: 0.5rem;
}

/* eind van footer */

@media screen and (max-width: 1600px) {
  .header-box {
    grid-template-columns: 250px 250px 250px 250px;
  }
}

@media screen and (max-width: 1150px) {
  .header-box {
    grid-template-columns: 200px 200px 200px 200px;
  }

  .card-box {
    grid-template-columns: 30% 30% 30%;
  }
}

@media screen and (max-width: 1000px) {
  .header-box {
    grid-template-columns: 160px 160px 160px 160px;
  }

  a.nav-link {
    padding: 0.5rem 1rem;
  }
}

@media screen and (max-width: 960px) {
  .header-box {
    grid-template-columns: 280px 280px;
    padding: 0px 59%;
  }

  .footer-box {
    grid-template-columns: 55% 6% 6% 8% 6%;
  }

  .card-box {
    grid-template-columns: 40% 40%;
  }
}

@media screen and (max-width: 650px) {
  .header-box {
    grid-template-columns: 280px;
  }

  nav ul {
    flex-direction: column;
  }

  .footer-box {
    grid-template-columns: 40% 8% 8% 9% 8%;
  }
}

@media screen and (max-width: 550px) {
  .card-box {
    grid-template-columns: 100%;
  }
}