* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


li {
  list-style: none;
  margin: 0.7rem 0 0.7rem 1.5rem;
}

li a {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  text-decoration: none;
  padding: 0.3rem 1rem;
}

li a:hover {
  color: #000;
  text-decoration: underline;
}

/* begin van header */

.header-box {
  background-color: #c7cdc4;
  display: grid;
  grid-template-columns: 350px 350px 350px 350px;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}

a.nav-link {
  color: black;
  border-radius: 19px;
  padding: 1rem 3rem;
}

.nav-li {
  transition: transform 0.2s;
}

.nav-li:hover {
  transform: scale(1.1);
}

.active {
  color: #1491ff !important;
  text-decoration: underline;
}

/* eind van header */

/*begin van main*/

.main-class {
  grid-template-columns: 45% 45%;
  display: grid;
  gap: 3rem;
  justify-content: center;
  padding: 2rem;
}

.contact-form {
  background-color: #4394855c;
  padding: 2.5rem;
  border-radius: 10px;
}

.input-fiels {
  display: flex;
  flex-direction: column;
  grid-template-rows: auto;
}

.submit {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 0.5rem;
}

.submit-container {
  justify-content: end;
  display: flex;
}

.input-fiels label+input {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
}

.map {
  border: 0;
}

/* eind van header */

/*begin van footer*/

.footer-box {
  background-color: rgba(157, 168, 152, 0.57);
  display: grid;
  grid-template-columns: 65% 4% 4% 7% 4%;
  justify-content: left;
  gap: 2rem;
  margin-bottom: 0.5rem;
  padding: 1rem 2rem;
}

.footer-img {
  width: 30px;
  height: 30px;
  border-radius: 7px;
  margin-top: 0.5rem;
}

.youtube-img {
  width: 70px;
  height: 30px;
  border-radius: 7px;
  margin-top: 0.5rem;
}

/* eind van footer */

@media screen and (max-width: 1600px) {
  .header-box {
    grid-template-columns: 250px 250px 250px 250px;
  }
}

@media screen and (max-width: 1150px) {
  .header-box {
    grid-template-columns: 200px 200px 200px 200px;
  }
}

@media screen and (max-width: 1000px) {
  .header-box {
    grid-template-columns: 160px 160px 160px 160px;
  }

  a.nav-link {
    padding: 0.5rem 1rem;
  }
}

@media screen and (max-width: 960px) {
  .header-box {
    grid-template-columns: 280px 280px;
    padding: 0px 59%;
  }

  .footer-box {
    grid-template-columns: 55% 6% 6% 8% 6%;
  }
}

@media screen and (max-width: 850px) {
  .main-class {
    grid-template-columns: 100%;
  }
}

@media screen and (max-width: 650px) {
  .header-box {
    grid-template-columns: 280px;
  }

  nav ul {
    flex-direction: column;
  }

  .footer-box {
    grid-template-columns: 40% 8% 8% 9% 8%;
  }
}